* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.btn {
  background-color: #50936a;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.group-img {
    width: 20px; 
    height: 20px;
    object-fit: contain;
    padding-right: 5px;
}

.btn:hover {
  background-color: #3e7352;
}

#section1 {
  background-image: url(/CSS/assets/hero-bg.png);
  width: 100%;
  height: 674px;
  text-align: center;
  padding-top: 115px;
  padding-bottom: 179px;
}

#section1 .text1 {
  font-size: 16px;
  color: #469165;
  border-radius: 50%;
  display: inline-flex;
  background-color: #ffffff;
  border-radius: 999px;
  border: 1px solid white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.014);
  padding: 8px 12px 8px 34px;
}

#section1 .text2 .white {
  font-size: 72px;
  line-height: 84px;
  color: #ffffff;
  font-weight: bold;
}

#section1 .text2 .green {
  font-size: 72px;
  line-height: 84px;
  color: #30b868;
  font-weight: bold;
}

#section1 .para p {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  width: 700px;
  height: 60px;
  border-radius: 1px solid white;
  margin: 0 auto;
}

#section1 .button-ref {
  padding-top: 32px;
}


.btn1 {
    background-color: #5a966a;
    border-radius: 6px;
    padding: 0 20px;
    cursor: pointer;
  }

  .btn-text {
    display: flex;       
    align-items: center; 
    gap: 10px;          
    margin: 15px 0;      
    color: white;
  }

  .arrow-img {
    width: 20px;         
    height: auto;
    display: block;
  }  

  .btn2 {
    background-color: transparent;
    border-radius: 6px;
    padding: 0 20px;
    cursor: pointer;
  }

  .btn-text2 {
    display: flex;       
    align-items: center; 
    gap: 10px;          
    margin: 15px 0;      
    color: white;
  }

  .play-img {
    width: 20px;         
    height: auto;
    display: block;
  }  

  #section3 .section3-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
  }

  #section3 .section3-container .section3-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

#section3 .section3-container .section3-heading h2 {
  font-weight: bold;
  font-size: 48px;
  padding-top: 50px;
}

#section3 .section3-container .section3-heading p {
  line-height: 20px;
  font-size: 16px;
  padding-top: 16px;
  color: #627382;

}

#section3 .section3-container .section3-box {
  display: flex;
  padding-top: 44px;
  gap: 24px;
}

.section3-box .section3-card {
    padding: 60px 30px;
    width: 322px;
    height: 300px;
    box-shadow: 0 6px 50px 0 #00000010;
    text-align: center;
    flex: 1;
}

.section3-box .section3-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 24px
}

.section3-box .section3-card h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}

.section3-box .section3-card p {
  line-height: 20px;
  font-size: 16px;
  padding-top: 16px;
  color: #627382;

}

#section4 {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.section4-container {
  max-width: 1100px;
  display: flex;
  align-items: center; 
  gap: 50px;
}

.section4-img img {
  max-width: 500px;
  width: 100%;
}

.section4-detail {
  flex: 1;
}

.green-label {
  color: #469165;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.section4-detail h1 {
  font-size: 48px;
  color: #001931;
  margin-bottom: 20px;
}

.section4-detail p {
  color: #667085;
  padding-top: 16px;
  margin-bottom: 30px;
  font-size: 16px;
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.circle-img {
  width: 24px;    
  height: 24px;
  margin-right: 12px;
}

.feature-item h4 {
  margin: 0;
  font-weight: 500;
  color: #001931;
  font-size: 16px;
}

.feature-item {
  display: flex;       
  align-items: center; 
  margin-bottom: 12px;

}

#section5 {
  padding: 2px 120px 120px 120px;
}

.section5-container {
  padding: 80px 40px;
  background-color: #F7F6F2;
  text-align: center;
}

.section5-detail h2 {
  font-size: 40px;
  font-weight: bold;
}

.section5-detail p {

  line-height: 24px;
  font-size: 16px;
  padding-top: 16px;
  color: #627382;
}

.nav-cta .btn {
  background-color: #50936a;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  display: inline-flex;  
  align-items: center;  
  justify-content: center;
  gap: 10px;
}

.nav-cta {
  padding-top: 24px;
  align-items: center;
}

.arrow-img2 {
  height: auto;
  width: 18px;
  align-items: center;
}