* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.btn {
  background-color: #50936a;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.btn:hover {
  background-color: #3e7352;
}

#section1 {
  background-image: url(/CSS/assets/hero-bg.png);
  width: 100%;
  height: 674px;
  text-align: center;
  padding-top: 115px;
  padding-bottom: 179px;
}

#section1 .text1 {
  font-size: 16px;
  color: #469165;
  border-radius: 50%;
  display: inline-flex;
  background-color: #ffffff;
  border-radius: 999px;
  border: 1px solid white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.014);
  padding: 8px 12px 8px 34px;
}

#section1 .text2 .white {
  font-size: 72px;
  line-height: 84px;
  color: #ffffff;
  font-weight: bold;
}

#section1 .text2 .green {
  font-size: 72px;
  line-height: 84px;
  color: #30b868;
  font-weight: bold;
}

#section1 .para p {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  width: 700px;
  height: 60px;
  border-radius: 1px solid white;
  margin: 0 auto;
}

#section1 .button-ref {
  padding-top: 32px;
}

#section1 .button-ref .btn1 {
  font-size: 16px;
  box-shadow: none;
  background-color: #50936a;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: lighter;
  font-size: 14px;
  line-height: auto;
}
